#app{
  margin-top: 0;
  .el-container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .tit-text {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 10px;
  }

  .el-aside{
    -webkit-transition: width .2s;
    transition: width .2s;
    width: 220px;
    background-color: #191a23;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
  }

  .header-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fl-right {
    float: right;
  }

  .right-box{
    margin-right: 5px;
  }

  .el-submenu__title,.el-menu-item{
    i{
      color: inherit !important;
    }
  }

  .el-submenu__title:hover,.el-menu-item:hover{
    i{
      color: inherit !important;
    }
    span{
      color: inherit !important;
    }
  }

  .header-cont {
    height: 60px;
    background: #fff;
  }

  .title {
    min-height: 60px;
    line-height: 60px;
    background: #191a23;
    text-align: center;
    transition: all 0.3s;
    .logoimg {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      background: #fff;
      border-radius: 50%;
      padding: 3px;
    }

    .tit-text {
      display: inline-block;
      color: #fff;
      font-weight: 600;
      font-size: 20px;
      vertical-align: middle;
      padding-left: 10px;
    }
  }
}
